a {
  transition: 0.2s ease;
}
a:hover {
  color: var(--color-primary);
}

.btn {
  position: relative;
  z-index: 1;
  color: white;
  border: 1px solid transparent;
  border-radius: 9999px;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  cursor: pointer;

  // transition on border color and text
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(41, 91, 255, 1) 0%, rgba(87, 124, 247, 1) 50%);
    z-index: -1;
    transition: opacity 0.3s ease; // smooth fade
  }

  &:hover {
    border-color: white;
    &::before {
      opacity: 0; // fade gradient
    }
  }
}
