<header class="w-full row-center">
  <div
    class="container z-50 pt absolute mx-auto bg-[#0a0d1f] border-2 border-primary/10 mt-8 px-6 py-2 rounded-4xl row-between-center"
  >
    <div class="logo">
      <img class="w-[60px]" src="/images/logo.png" alt="" />
    </div>

    <div class="row-center gap-6">
      <a [routerLink]="['']" class="capitalize">home</a>
      <a [routerLink]="['about-me']" class="capitalize">about me</a>
      <a [routerLink]="['service']" class="capitalize">services</a>
      <a [routerLink]="['pricing']" class="capitalize">pricing</a>
      <a [routerLink]="['project']" class="capitalize">project</a>
      <a [routerLink]="['contact-me']" class="capitalize">contact me</a>
    </div>

    <button
      [routerLink]="['get-started']"
      class="btn capitalize px-6 py-3 rounded-full font-medium"
    >
      get started
    </button>
  </div>
</header>
