.projects-section {
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('/images/Bg-Image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;

  // overlay

  .container {
    position: relative;
    z-index: 2; // makes sure content is above overlay
  }
}

.project-label {
  background-color: #141621;
  transition: all 0.3s;

  .label {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--color-primary);

      + svg {
        stroke: var(--color-primary);
        transform: translateX(5px);
      }
    }
  }

  svg.arrow {
    transition: stroke 0.3s, transform 0.3s;
  }
}
.view-btn {
  position: relative;
  z-index: 1;
  color: white;
  border: 1px solid transparent;
  border-radius: 9999px;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(41, 91, 255, 1) 0%, rgba(87, 124, 247, 1) 50%);
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &:hover {
    border-color: white;
    &::before {
      opacity: 0; // fade gradient
    }
  }
}

/* Transparent button (Get in Touch) */
.btn {
  position: relative;
  z-index: 1;
  color: white;
  border: 1px solid white; // visible border by default
  border-radius: 9999px;
  overflow: hidden;
  padding: 0.75rem 1.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(41, 91, 255, 1) 0%, rgba(87, 124, 247, 1) 50%);
    z-index: -1;
    opacity: 0; // hidden by default
    transition: opacity 0.3s ease;
  }

  &:hover {
    &::before {
      opacity: 1; // show gradient on hover
    }
    color: white; // text stays white
  }
}

// //
